.staff{
    position: center;
    width: 60%;
    display: flex;
    justify-content: center;
}
.new {
    background-color: palevioletred;
    border: 1;
    border-style: solid;
    border-color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Adjusted this line */
  }
  