.leagueBackgroundTransition:hover,
.leagueBackgroundTransition:focus {
    background-image: url("/src/assets/images/summoners_rift_2.png");
    color:rgba(255,255,255,1);
}

.valorantBackgroundTransition:hover,
.valorantBackgroundTransition:focus {
    background-image: url("/src/assets/images/haven_2.png");
    color:rgba(255,255,255,1);
}

.apexBackgroundTransition:hover,
.apexBackgroundTransition:focus {
    background-image: url("/src/assets/images/worlds_edge_v2_2.png");
    color:rgba(255,255,255,1);
}

.overwatchBackgroundTransition:hover,
.overwatchBackgroundTransition:focus {
    background-image: url("/src/assets/images/eichenwald_overwatch_2.png");
    color:rgba(255,255,255,1);
}

.ssbuBackgroundTransition:hover,
.ssbuBackgroundTransition:focus {
    background-image: url("/src/assets/images/final_destination_ssbu_2.png");
    color:rgba(255,255,255,1);
}

.codBackgroundTransition:hover,
.codBackgroundTransition:focus {
    background-image: url("/src/assets/images/nuketown_cod_2.png");
    color:rgba(255,255,255,1);
}

.rainbowsixBackgroundTransition:hover,
.rainbowsixBackgroundTransition:focus {
    background-image: url("/src/assets/images/bank_rainbowsix_2.png");
    color:rgba(255,255,255,1);
}

.mlbbBackgroundTransition:hover,
.mlbbBackgroundTransition:focus {
    background-image: url("/src/assets/images/battlefield_mlbb_2.png");
    color:rgba(255,255,255,1);
}

.csgoBackgroundTransition:hover,
.csgoBackgroundTransition:focus {
    background-image: url("/src/assets/images/dust2_2.png");
    color:rgba(255,255,255,1);
}

.characterImageScale:hover .child,
.characterImageScale:focus .child {
    transform: scale(1.1);
}