.slick-prev:before {
    color: black !important;
}
.slick-next:before {
    color: black !important;
}

@keyframes slideIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.logoFirst {
    animation: slideIn 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logoSecond {
    animation: slideIn 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logoThird {
    animation: slideIn 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.logoFourth {
    animation: slideIn 1.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
