.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Slidein animation for components on webpage */
@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hidden {
  visibility: hidden;
}

.slideIn1000ms {
  visibility: visible;
  animation: slideIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideIn1300ms {
  visibility: visible;
  animation: slideIn 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideIn1400ms {
  visibility: visible;
  animation: slideIn 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideIn1500ms {
  visibility: visible;
  animation: slideIn 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideIn1700ms {
  visibility: visible;
  animation: slideIn 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideIn1900ms {
  visibility: visible;
  animation: slideIn 1.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
