/*.gamesText {*/
/*    opacity: 0;*/
/*}*/
/*.parent {*/
/*    width: 100px;*/
/*    height: 400px;*/
/*    overflow: hidden;*/
/*    border-radius:10px;*/
/*    position: relative;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-image: url("../images/worlds_edge_v2_1.png");*/
/*    color:rgba(255,255,255,0);*/
/*    transition: background-image .5s, color .5s;*/
/*}*/

/*TODO make classes for each individual component*/
.parentLeague:hover,
.parentLeague:focus {
    background-image: url("../images/summoners_rift_2.png");
    color:rgba(255,255,255,1);
}

.parentValorant:hover,
.parentValorant:focus {
    background-image: url("../images/haven_2.png");
    color:rgba(255,255,255,1);
}

.parent:hover,
.parent:focus {
    background-image: url("../images/worlds_edge_v2_2.png");
    color:rgba(255,255,255,1);
}

.parent:hover .child,
.parent:focus .child {
    transform: scale(1.1);
    /*transition: background-image .7s;*/
    /*background-size: cover;*/
    /*background-color: #00a772;*/
}

/*.parent:hover .child:before,*/
/*.parent:focus .child:before {*/
/*  display: block;*/
/*}*/